
body{
	max-width: 940px;
	width: 100%;
	margin: 0 auto;
	background-image: url("./images/bg.jpg");
	background-repeat: repeat;
}
.header{
	position: relative;
	margin-top: 25px;
	height: 82px;
}
.content{
	padding-bottom: 30px;
	padding-top: 10px;
	float: left;
}
#fb{
	float: right;
	margin-left: 5px;
}
#logo{
	float: left;
	margin-left: 20px;
}
#twitter{
	float: right;	
}
.p1{
	width: 68%;
	float: left;
}
.p1-1{
	width: 32%;
	height: 415px;
	float: right;
	background-color: black;
}
.s1{
	padding-bottom: 30px;
}
.choose{
	float: right;
	list-style: none;
	margin-top: 50px;
}
.choose li{
	display: inline-block;
	padding: 1rem;
}
.choose li a{
	text-decoration: none;
	color: #555;
	text-align: center;
}
.choose li a:hover{
	color: #088FAC;
}
h2{
	color: #088FAC;
	font-size: 39px;
	margin-left: 50px;
}
#middlep{
	color: gray;
	margin-left: 50px;
	line-height: 30px;
	margin-right: 50px;
}
.readb{
	color: white;
	background: darkgray;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 15px;
	padding-top: 15px;
	margin-left: 50px;
	margin-right: 125px;
	font-size: 12px;
}

.s2{
	background-color: white;
	margin-top: 35px;
	float: left;
	text-align: left;
	color: #555;
	line-height: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-right: 40px;
	padding-left: 40px;
}
.s3{
	margin-top: 35px;
	background-color: white;
	float: left;
	padding-bottom: 20px;
}
.s3-1{
	width: 65%;
	float: left;
}
#t3left{
	font-size: 30px;
	font-weight: lighter;
	margin-left: 45px;
}
#sit{
	float: left;
	border: 5px lightgray solid;
	margin-left: 45px;
}
#sittitle{
	font-weight: bolder;
}
#sitcont{
	color: #555;
	line-height: 30px;
}
.s3-1-1-s{
	float: right;
	width: 55%;
}
.s3-1-2{
	margin-top: 25px;
	float: left;
}
.s3-1-1{
	float: left;
}
#lay{
	float: left;
	border: 5px lightgray solid;
	margin-left: 45px;
}
#laytitle{
	font-weight: bolder;
}
#laycont{
	color: #555;
	line-height: 30px;
}
.s3-1-2-l{
	float: right;
	width: 55%;
}
.s3-2{
	float: right;
	width: 35%;
}
#t2{
	margin-left: 40px;
	font-size: 30px;
	font-weight: lighter;
}
#c2{
	list-style-image: url('/Users/wu/Documents/fitness/images/dot_blue.gif');
	color: #555;
	margin-left: 10px;
	line-height: 30px;
}
#t3{
	margin-left: 40px;
	font-size: 30px;
	font-weight: lighter;
}
.text{
	border: 1px solid #ccc;
	margin-left: 40px;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 60px;
}
.search{
	color: #088FAC;
	font-size: 18px;
	background-color: lightgray;
	margin-top: 20px;
	padding-right: 30px;
	padding-left: 30px;
	padding-bottom: 8px;
	padding-top: 8px;
	margin-left: 40px;
	margin-right: 130px;
}
.footer{
	text-align: center;
	margin-top: 35px;
	color: #555;
	margin-bottom: 50px;
	position: relative;
	float: left;
	left: 37%;
}
#b{
	color: #088FAC;
}
img{
	max-width: 100%;
	height: auto;
}
@media screen and (max-width: 767px){
	#logo,#fb,#twitter{
		float: none;
	}
	.choose li{
		float: none;
		width: 30%;
		padding: .3rem 0;
	}
	.choose li a{
		display: block;
		padding: 1em 0;
		border-bottom: 1px dotted #ccc;
	}
	.p1, .p1-1{
		width: 100%;
		float: none;
	}
	.s2{
		margin-bottom: 35px;
	}
	.s3-1-2{
		margin-top: 35px;
	}
	.s3, .s3-1, .s3-2,.s3-1-1,.s3-1-2{
		width: 100%;
		float: none;
	}
	#c2{
		line-height: 1.6rem;
	}
	#c2 li a{
		width: 100%;
		display: block;
	}
	.p1-1{
		height: auto;
		padding: 1.5rem;
	}
	#lay{
		margin-top: 60px;
	}
	.s3-2{
		float: left;
	}
}
@media(max-width: 375px){
	#logo,#fb,#twitter{
		float: none;
	}
	.choose{
		float: 50%;
	}
	.p1-1,.p1{
		width: 100%;
		float: none;
	}
	.footer{
		float: left;
		left: 10%;
	}
	.s3-1-1-s, .s3-1-2-l{
		float: left;
		width: 100%;
	}
	
}
